* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}
.header {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 51px;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.header-btn {
  display: flex;
  gap: 10px;
}
.header-btn-login {
  width: 115px;
  height: 47px;
  border-radius: 4px;
  background-color: #035E89;
  color: white;
  border: 0;
}
.header-btn-sing {
  width: 115px;
  height: 47px;
  border-radius: 4px;
  color: #035E89;
  border: 0;
}
.hamburger{
  display: none;
}
.hero {
  gap: 61px;
  height: 760px;
  width: 100%;
}
.hero-text {
  width: 70%;
  height: 423px;
}
.hero-img{
  width: 1500px;
   position: absolute;
   right: 0px;
  height: 760px;
  z-index: -1;

}
.hero-container {
  margin-top: 40px;
  height: 770px;
  padding-left: 120px;
  width: 55%;
 
  background: linear-gradient(87deg, rgb(255, 255, 255) 55%, rgba(255, 255, 255, 0) 100%);
}
.hero-items {
  padding-top: 50px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 61px;
}
.hero-h1 {
  color: #035E89;
  font-weight: 800px;
  font-size: 70px;
}
.hero-p {
  max-width:500px;
  height: 72px;
  font-weight: 500;
  font-size: 24px;
}
.hero-btn {
  width: 364px;
  height: 47px;

  gap: 12px;
}
.hero-btn-freequote {
  width: 198px;
  height: 47px;
  background-color: #035E89;
  color: white;
  border-radius: 4px;
  border: 0;
}
.hero-btn-learnmore {
  width: 154px;
  height: 47px;
  background-color: white;
  color: #035E89;
  border-radius: 4px;
  border: 1px solid #035E89;
}
.service {
  margin-top: 120px;
 width: 100%;
 display: flex;
 flex-direction: column;
}
.service-main {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 600;
}
.service-p {
  width: 900px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;


}
.service-p-c{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.service-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.service-boxes {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.service-box {
 width: 462px;
  border: 1px solid rgb(52, 152, 199);
  height: 264px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
  padding: 20px;
  padding-left: 30px;
}
.service-h1{
  color: #035E89;
  width: 408px;
height: 56px;
font-size: 31px;
}
.service-p1{
  width: 319px;
  height: 72px;
  font-size: 20px;
}
.service-p2{
  width: 362px;
height: 48px;
font-size: 22px;
}
.service-p3{
  width: 382px;
height: 72px;
font-size: 20px;
}
.service-h2{
  color: #035E89;
  width: 382px;
height: 56px;
font-size: 30px;
}
.service-h3{
  color: #035E89;
  width: 382px;
height: 56px;
font-size: 28px;



}
.box-img-van{
  border: 1px so;
}
.hightlight{
  width: 95%;
  height: 528px;
  display: flex;
  margin-top:130px;
  justify-content: center;
}
.hightlight-items{
  display: flex;
  width: 70%;
  height: 412px;
  border-radius: 22px; box-shadow: 0px 85.26px 181.4px 0px rgba(21, 21, 21, 0.15);
  display: flex;
  align-items: center;
  position: absolute;
}
.hightlight-text{
  margin-left: 50px;
  height: 308px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vector{
  width: 96px;
  opacity: 12%;
}
.hightlight-h1{
height: 36px;
font-size: 26px;
font-weight: 700;
}
.hightlight-p1{
  max-width: 442px;
height: 150px;
font-size: 20px;
font-weight: 500;
padding: 11px 0;


}
.hightlight-btn{
  width: 198px;
  height: 47px;
  padding: 14px 34px;
  position: absolute;
  right: -8%;
 top: 70%;
 background-color: rgba(3, 94, 137, 1);
 color: white;
 border: 0;
 border-radius: 4px;

}
.van{
  width: 560px;
  height: 278px;
  position: absolute;
  right:-10%;
  top: 3%;
}
.img-4{
  margin-top: 2px;
}
.prove{
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.prove-item{
  padding: 40px;
  gap: 68px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 0px;
  box-shadow: 3.12px 9.37px 72px 0px rgba(123, 212, 255, 0.2);
  border-radius: 16px;
}
.prove-items{
  padding-left: 30px;
  margin-top: 20px;
  width:220px;
}
.prove-p1{
  padding-left: 22px;
  width: 190px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(109, 109, 109, 1);
}
.prove-p2{
  padding-left: 22px;
  width: 190px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(109, 109, 109, 1);
}
.prove-p3{
  width: 190px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(109, 109, 109, 1);
}
.prove-p4{
  margin-top: 4px;
padding-left: 3px;
  width: 190px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(109, 109, 109, 1);
}
.cta-container{
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cta{
  margin-left: 20px;
  height: 346px;
  width: 70%;
  background-color: rgba(242, 250, 255, 1);
  border-radius: 14px;
display: flex;
justify-content: space-between;
}
.cta-box{
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 642px;
  height: 259px;
  gap: 24px;
}
.cta-h1{
width: 642px;
height: 104px;
font-size: 40px;
font-weight: 600;
color: rgba(3, 94, 137, 1);
}
.cta-p1{
  width: 602px;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(77, 76, 82, 1);
 }
 .cta-btn{
  width: 198px;
  height: 47px;
  background-color: rgba(3, 94, 137, 1);
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 4px;
 }
 .cta-img{
  width: 464px;
  height: 282px;
  margin-top: 20px;
  padding-right: 20px;
 }
 .footer-container{
  margin-top: 100px;
  width: 100%;
  height: 432px;
 display: flex;
 align-items: center;
 flex-direction: column;
  gap: 50px;
  background-color: rgba(3, 94, 137, 1);
 }
 .footer{
  width:90%;
  height: 200px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
 }
 .swift-h1{
  width: 167px;
  height: 44px;
  color: white;
  font-size: 40px;
  font-weight: 500;
 }
 .swift-p{
  width: 299px;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-top: 50px;
 }
 .support{
  height: 200px;
 }
 .p-support{
  font-size: 20px;
  font-weight: 700;
  width: 64px;
  height: 24px;
  color: white;
 }
 .p-box{
  width: 142px;
  height: 104px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  font-weight: 400;
 }
 .p-legal{
  font-size: 20px;
  font-weight: 700;
  width: 64px;
  height: 24px;
  color: white;
 }
 .p-box2{
  width: 142px;
  height: 104px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  font-weight: 400;
 }
 .p-service{
  font-size: 24px;
  font-weight: 700;
  width: 64px;
  height: 24px;
  color: white;
 }
.p-box3{
  width: 142px;
  height: 65px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-weight: 400;
}
.line-1{
  width: 90%;
  border: 1px solid rgba(182, 230, 255, 1);
  height: 1px;
}
.footer-nav{
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.youtube-icon{
  width: 32px;
  height: 32px;
}
.footer-nav-p{
color: white;
  display: flex;
  justify-content: end;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width:768px) {
  html,body{
    font-size: 12px;
  }
  .container {
    max-width: 100%;
  }
  .header-logo{
  
    width: 145px;
    height: 42px;
  }
  .prove{
    padding-inline: 15px;
  }
  .header-nav{
   display: none;
  }
  .header-btn{
    display: none;
  }
  .header{
    padding-inline:30px ;
    justify-content: space-between;
  }
  .hamburger{
    display: flex;
  }
  .hero-container{
    max-width: 100%;
    padding-inline:20px ;
    height: 300px;
  
  }
  .hero-h1{
    max-width:100%;
    font-size: 4.5rem;
  }
  .hero{
    width: 400px;
    margin-top: 0px;
    margin-left: 3px;
    display: block;

  }
  .hero-items{
    margin-top: 0;
    padding-top: 0;
    max-width: 100%;
    margin-top: 20px;
    font-size: 3rem;
    gap: 10px;
  }
  .hero-p{
    margin-top: 20px;
    width: 340px;
    height: 42px;
    font-size: 1.4rem;
  }
  .hero-btn-freequote{
    margin-top: 50px;
    max-width: 142px;
    font-size: 1,2rem;
    font-weight: 400;
    height: 33px;
  }
  .hero-btn-learnmore{
    width: 104px;
    height: 33px;
    font-size: 1.2rem;
    border: 0,43px;
    border-radius: 4px;
  }
  .hero-text{
    width: 430px;
  }
  .service-p{
    margin-top: 60px;
    font-size: 1.3rem;
    padding-inline: 17px;
    color: rgba(109, 109, 109, 1);
    text-align: center;
    margin-left: 0px;
  }
  .hero-img{
    margin: 33px 20px 20px 0px;
   max-width: 100%;
    height: auto;
    position: absolute;
    object-fit: cover;
     top: 50%;
    opacity: 0.4;
  }
  .service-boxes{
    margin-right: 50px;
    gap: 16px;
    margin-left: 15px;
  }
  .service-box{
    margin-left: 24px;
     max-width: 100%;
  }
  .service-box:nth-child(1){
    padding: 20px 4px 0 20px;
  }
  .service-container{
    max-width: 100%;
  }
  .service-main{
    margin-top: 50px;
   max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:5rem;
  }
  .service{
    max-width: 100%;
    margin-top: 60px;
  }
  .service-img1{
   margin-top: 12px;
  }
  .service-img2{
    margin-top: 10px;
   }
  .service-img3{
    margin-top: 10px;
   }
  .service-p1{
    width: 306px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(109, 109, 109, 1);
  }
  .service-p{
  }
  .service-p-c{
    max-width: 100%;
    margin-top: 0;
    display: flex;
 
  }
  .service-h1{
    width: 306px;
    height: 56px;
    font-size: 2.1rem;
    font-weight: 700;
    color: rgba(0, 105, 171, 1);
  }
  .service-p2{
    width: 280px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(109, 109, 109, 1);
  }
  .service-h2{
    width: 250px;
    height: 56px;
    font-size: 2.1rem;
    font-weight: 700;
    color: rgba(0, 105, 171, 1);
  }
  .service-h3{
    width: 250px;
    height: 56px;
    font-size: 2.1rem;
    font-weight: 700;
    color: rgba(0, 105, 171, 1);
  }
  .service-p3{
    width: 280px;
    height: 72px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(109, 109, 109, 1);
  }
  .hightlight{
    width: 100%;
    left: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .hightlight-items{
    justify-content: center;
    width: 92%;
    height: 350px;
    margin-top: 24px;
    display: flex;
    align-items: start;
    margin-left: 20px;
    padding-left: 30px;
  }
  .van{
    max-width:310px;
    height:158px;
     margin-right: 90px;
     position: absolute;
     top: 79%;
     left: 14%;
  }
  .hightlight-text{
    margin-top: 40px;
 margin-right: 200px;
  }
  .hightlight-h1{
   max-width: 768px;
    height: 50px;
    font-size: 1.9rem;
    font-weight: 700;
  }
  .hightlight-p1{
    width: 266px;
    height: 138px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0px;
  }
  .vector{
    width: 30px;
    height: 30px;
    opacity: 12%;
  }
  .hightlight-btn{
    width: 142px;
    height: 32px;
    border-radius: 4px;
    padding: 8px 14px;
    margin-top: 5px;
    top: 65%;
    left: 13%;
  }
  .prove-item{
    max-width: 100%;
    margin-left: 0px;
    margin-top: 30px;
    padding: 20px 30px;
    gap:30px;
    justify-content: space-evenly;
  }
  .prove-items{
    padding-left: 10px;
  }
  .managed{
    width:200px;
    height: 63px;
  }
  .img-1{
    margin-left: 20px;
    height: 40px;
    width: 146px;
    object-fit: contain;
  }
  .prove-p1{
    width: 200px;
    height: 30px;
   padding-right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .clients{
    width: 200px;
    height: 63px;
  }
  .img-2{
    margin-left: 20px;
    height: 40px;
    width: 125px;
    object-fit: contain;
  }
  .img-3{
    margin-left: 20px;
    height: 40px;
    width: 125px;
    object-fit: contain;
  }
  .prove-p2{
    width: 200px;
    height: 19px;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .awards{
    width: 200px;
    height: 63px;
  }
  .img-4{
    margin-left: 20px;
    margin-top: 0px;
    height: 40px;
    width: 92px;
    object-fit: contain;
  }
  .prove-p3{
    width: 200px;
    height: 19px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .prove-p4{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 1.7rem;
  }
  .delivery{
    width: 200px;
  }
  .cta-container{
  width: 100%;
  display: flex;
  justify-content: start;
  }
  .cta{
    width: 100%;
    height: 563px;
    border-radius: 0;
    margin-left: 15px;
    flex-wrap: wrap;
   
  }
  .cta-box{
    margin-left: 20px;
  }
  .cta-h1{
    width: 406px;
    height: 108px;
    font-size: 3rem;
    font-weight: 600;
  }
  .cta-p1{
    margin-top: 10px;
    width: 406px;
    height: 63px;
    font-size: 1.8rem;
    color: rgba(77, 76, 82, 1);
  }
  .cta-btn{
    width: 153px;
    padding: 16px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .cta-img{
    max-width: 100%;
   margin-bottom: 50px;
   margin-right: 20px;
  }
  .footer-container{
    max-width: 100%;
    height: 890px;
    border-radius: 20px;
    gap: 0px;
    padding-left: 15px;
  }
  .footer{
    max-width: 90%;
    height: 700px;
    display: flex;
    padding-inline: 10px;
    flex-wrap: wrap;
  }
  .legal{
    margin-top: 20px;
    margin-right: 30px;
  }
  .swift-p{
    width: 299px;
    height: 48px;
    font-size: 1.8rem;
    margin-top: 30px;
    font-weight: 500;
  }
  .swiftlogix{
    width: 700px;
  }
  .swift-h1{
    font-size: 4rem;
    width: 167px;
    height: 44px;
    font-weight: 500;
  }
  .support{
   width: 142px;
    height: 148px;
    margin-top: 20px;
  }
  .p-support{
    font-size: 2.1rem;
    font-weight: 700;
    width: 64px;
    height: 24px;
  }
  .services{
    height: 360px;
    margin-top: 20px;
  }
  .p-legal{
    font-size: 2.1rem;
    font-weight: 700;
    width: 64px;
    height: 24px;
  }
  .p-box{
    width: 502px;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .p-box2{
    font-size: 1.6rem;
    font-weight: 400;
    width: 121px;
    height: 24px;
  }
 .p-box3{
  margin-top: 20px;
  width: 161px;
  height: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 31px;
 }
 .line-1{
  max-width: 100%;
 height: 1px;
 }
 .footer-nav{
  margin-top: 30px;
  margin-right: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30px;
 }
 .footer-nav-p{
  
  width: 300px;
  height: 24px;
  font-size: 1.6rem;
  font-weight: 600;
  
 }
}